<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE configuration
	    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 加载外部配置文件 -->
	<properties resource="jdbc.properties" />
	<!-- 设置 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="localCacheScope" value="STATEMENT" />
	</settings>
	<typeAliases>
		<package name="com.wangdh.learner.mybatis.entity" />
	</typeAliases>

	<!-- -->
	<plugins>
		<plugin interceptor="com.wangdh.learner.mybatis.interceptor.MyInterceptor">
			<property name="prop1" value="wangdh" />
			<property name="prop2" value="cxx" />
		</plugin>
	</plugins>

	<!-- 配置数据源 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driverClassName}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mapper/StudentMapper.xml" />
	</mappers>
</configuration>