<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rop="http://www.rop.com/schema/rop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.rop.com/schema/rop http://www.rop.com/schema/rop/rop-1.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<context:component-scan base-package="com.wangdh.learner.rop" />

	<rop:annotation-driven />



	<bean id="appSecretManager" class="com.wangdh.learner.rop.manager.SampleAppSecretManager" />
	<bean id="serviceAccessController"
		class="com.wangdh.learner.rop.manager.SampleServiceAccessController" />
</beans>