<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rop="http://www.rop.com/schema/rop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.rop.com/schema/rop http://www.rop.com/schema/rop/rop-1.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!--① 扫描Spring Bean-->
    <context:component-scan base-package="com.rop.sample"/>

    <!-- 启动Rop框架 -->
    <rop:annotation-driven
        id="router"
        session-manager="sampleSessionManager"
        app-secret-manager="appSecretManager"
        service-access-controller="serviceAccessController"
        ext-error-base-names="i18n/rop/sampleRopError,i18n/rop/sampleRopError1"
        service-timeout-seconds="10"
        invoke-times-controller="invokeTimesController"
        upload-file-max-size="10"
        upload-file-types="png,gif"
        core-pool-size="200"
        max-pool-size="500"
        queue-capacity="50"
        keep-alive-seconds="300"
        sign-enable="true"/>

	<bean id="appSecretManager" class="com.wangdh.learner.rop.manager.SampleAppSecretManager" />
	<bean id="serviceAccessController"
		class="com.wangdh.learner.rop.manager.SampleServiceAccessController" />
    <bean id="sampleSessionManager" class="com.wangdh.learner.rop.manager.SampleSessionManager" />
    <bean id="invokeTimesController" class="com.wangdh.learner.rop.manager.SampleInvokeTimesController"/>
</beans>